<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.whyalwaysmea.bigboom"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        如果项目有混淆，则在proguard中添加
           -keepnames class com.mypackage.MyGlideModule
            # or more generally:
            #-keep public class * implements com.whyalwasymea.bigboom.imageloader.glide.CustomGlideModule
        -->
        <meta-data
            android:name="com.whyalwaysmea.bigboom.imageloader.glide.CustomGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.moviedetail.ui.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullActionBar">
        </activity>
        <activity
            android:name=".module.moviedetail.ui.ReviewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullActionBar">
        </activity>
        <activity android:name=".module.cast.ui.PhotoListActivity"
                  android:theme="@style/AppTheme.FullActionBar">
        </activity>
        <activity android:name=".module.cast.ui.PhotoActivity">
        </activity>
        <activity
            android:name=".module.cast.ui.CastDetailActivity"
            android:theme="@style/AppTheme.FullActionBar">
        </activity>
        <activity android:name=".module.cast.ui.CastInfoActivity">
        </activity>


        <service android:name=".service.ImageService">
        </service>
    </application>

</manifest>